@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
   scroll-behavior: smooth; 
}
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(29, 29, 29);
    overflow-x: hidden;
}
header{
    width: 95%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: baseline;
    align-items: center;
    position: fixed;
    z-index: 2;
}
.btns-container .bi{
    font-size: 2rem;
    padding: 10px;
    background-color: #181818;
    color: #fff;
    cursor: pointer;
}
.btns-container .bi:nth-child(2){
    display: none;
}

/* aside */
.section-home, .section-work, .fake-magicwall {
    max-width: 100vw;
    overflow-x: hidden;
    padding-right: 1.5rem; /* Ajuste se necessário */
}
.aside{
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #191919;
    z-index: 1;
}
.show-nav{
    height: 100%;
    overflow: visible;
}
.aside-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.logo-section{
    min-height: 32vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}
.logo{
    display: grid;
    place-items: center;
    text-decoration: none;
}
.logo img{
    width: 45px;
    height: auto;
}
.logo span{
    font-size: 1.7rem;
    color: #fff;
}
.logo-section > span{
    margin-top: 25px;
    font-size: 12px;
    font-size: 'Times New Roman', Times, serif;
}

/* nav section */

.nav-links a{
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    color: #908096;
}
.nav-links a:hover{
    color: #fdb808;
}
.nav-links a::before{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    background-color: #2d2d2e;
}

/* icones sociais */
.social-footer {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.social-icons {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    margin: 0 10px; 
}

.social-icons li a {
    color: #909096;
    text-decoration: none;
}

.social-icons li a:hover {
    color: #fdb808;
}

/* fim da nav bar */

#section-home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}
.text-zone h1{
    font-size: 3rem;
    line-height: 45px;
    letter-spacing: -3px;
    position: relative;
}
.text-zone h1 span {
    background: linear-gradient(90deg, red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.text-zone h1::before{
    content: '<h1>';
    position: absolute;
    top: -80px;
    left: -10px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.text-zone h1::after{
    content: '</h1>';
    position: absolute;
    bottom: -10px;
    right: -70px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.text-zone img{
    width: 35px;
    height: 50px;
}
.text-zone .gray-text{
    margin-top: 30px;
    color: #a2a2a3;
    letter-spacing: 3px;
    font-size: 14px;
    position: relative;
}



/* part 2 */

#section-work{
    padding: 5rem 0 5rem 1.5rem;
    position: relative;
}
#header{
    font-size: 2rem;
    color: #fdb808;
    margin-bottom: 30px;
}
.text-zone-2 p{
    line-height: 1.5;
}
.text-zone-2 a{
    color: blueviolet;
}
.text-zone-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Para garantir que seja responsivo */
    gap: 2px;
}

.image-container {
    position: relative;
    width: 250px; /* Largura da imagem, você pode alterar essa largura */
    height: 250px; /* Altura da imagem, deve ser igual à largura para manter a circularidade */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; /* Deixa a borda redonda */
    border: 2px solid transparent; /* Borda transparente */
}

.rotating-borders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid transparent; /* Espessura da borda */
    box-sizing: border-box;
    animation: rotate 6s linear infinite;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%);
    background-size: 300%;
}

/* Animação para a rotação das bordas */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Responsividade */
@media screen and (max-width: 950px) {
    .text-zone-2 {
        flex-direction: column; /* Alinha em coluna em telas menores */
        align-items: center;
    }

    .image-container {
        margin-top: 20px; /* Espaço entre a imagem e o texto em telas menores */
    }
}
.fake-magicwall{
    background-color: rgba(255, 255, 255, 0.1);
}
.fake-magicwall ul{
    list-style: none;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    flex-wrap: wrap;
}
.fake-magicwall ul li{
    width: 161px;
    height: 160px;
    position: relative;
    overflow: hidden;
    display: list-item;
}
.fake-magicwall .magic-wall_item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.fake-magicwall img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fake-magicwall ul li:hover .magic-wall_item{
    transform: scale(1.14);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.14);
}
.fake-magicwall ul li a.colorbox{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/circulo.png) no-repeat center;
    opacity: 0;
    transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    transform: scale(0.2);
}
.fake-magicwall ul li:hover a.colorbox{
    transform: scale(0.6);
    opacity: 1;
}

/* contato section */

/* contato section */
.contact-section{
    width: 100%; /* Alterado para usar 100% da largura disponível */
    margin: 50px auto; /* Espaço entre seções */
    padding: 50px 1.5rem; /* Adicionei padding para espaçamento interno */
    position: relative;
    background-color: #1d1d1d; /* Adicionado para manter o padrão de cor */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra sutil */
    border-radius: 8px; /* Cantos arredondados */
}
.contact-section h2{
    font-size: 2rem; /* Tamanho ajustado */
    color: #fdb808; /* Cor destacada */
    margin-bottom: 1rem; /* Espaço abaixo do título */
}
.contact-section p{
    width: 100%; /* Ajustado para 100% */
    font-size: 1rem; /* Fonte ajustada */
    line-height: 1.8rem; /* Altura da linha ajustada */
    color: #adabab;
    margin-bottom: 2rem; /* Espaço abaixo do texto */
}
.contact-section span{
    font-family: 'sans-serif', cursive;
    color: #CC6C06;
}
.contact-section h1{
    font-size: 7rem;
    color: #3a3939;
    position: absolute;
    left: -50px; /* Ajustado para alinhamento */
    top: 50px; /* Ajustado para não sobrepor o conteúdo */
    z-index: -999;
    opacity: 0.2; /* Tornado mais sutil */
}
.contact-form-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; /* Mantido em coluna para telas menores */
    gap: 1rem; /* Espaço entre itens */
}

/* Inputs e textarea */
form{
    width: 100%;
    display: flex;
    flex-direction: column; /* Alinhamento em coluna */
    gap: 1rem; /* Espaço entre os campos do formulário */
    font-family: 'Roboto', sans-serif;  
}
input[type="text"], input[type='email'], textarea{
    width: 100%; /* Garantir que ocupe a largura total */
    height: 50px;
    outline: none;
    border: none;
    background: #3a3939;
    padding: 5px 20px;
    border-right: 1px solid #CC6C06;
    color: #adabab;
    border-radius: 4px; /* Adicionando bordas arredondadas */
}
textarea{
    height: 150px; /* Altura ajustada para o textarea */
}

input[type="submit"]{
    width: 100%; /* Garantir que ocupe a largura total */
    height: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #CC6C06;
    color: #1d1d1d;
    font-size: 1rem;
    border-radius: 4px; /* Adicionando bordas arredondadas */
}

/* media section */


@media screen and (min-width: 950px) {
    header{
        justify-content: flex-end;
        align-items: flex-end;
    }
    .btns-container{
        display: none;
    }

    .aside{
        width: 10%;
        height: 100%;
    }
    .aside-wrapper{
        height: 80%;
    }
    .logo-section{
        min-height: 25vh;
    }
    .logo img{
        width: 50px;
        height: auto;
    }
    .social-icons{
        margin-bottom: 0;
        text-align: center;
    }
    .social-icons li{
       
        font-size: 1rem;
    }

    /* home section */
    #section-home{
        padding-left: 13rem;
    }
    .text-zone h1{
        font-size: 6.3rem;
        line-height: 85px;
        letter-spacing: -6px;
    }
    .text-zone h1 span {
        background: linear-gradient(90deg, red, orange);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }    
    .text-zone img{
        width: 50px;
        height: 72px;
    }
    .text-zone .gray-text{
        font-size: 1rem;
    }
    /* fim da section home */

    /* part 2 */
    #section-work{
        width: 85%;
        margin: 0 30px 0 auto;
        display: flex;
        flex-direction: column;
    }
    .text-zone-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .text-zone-2 a{
        color: blueviolet;
    }
    #header{
        font-size: 2.5rem;
    }
    .text-zone-2 p{
        width: 700px;
        font-size: 14px;
        line-height: 1.5rem;
    }
    .fake-magicwall{
        padding-left: 8.5rem;
    }
    .fake-magicwall ul li{
        width: 242px;
        height: 236px;
    }
    .contact-section{
        width: 85%; /* Reduzido para não ocupar toda a largura */
        margin: 150px 0 0 auto;
        padding: 50px 2rem;
    }
    .contact-form-wrapper{
        flex-direction: row; /* Alterado para linha em telas maiores */
        align-items: flex-start;
    }
    input[type="text"], input[type='email']{
        width: 48%; /* Ajustado para lado a lado */
    }
    #text, textarea{
        width: 100%;
    }
    input[type="submit"]{
        width: 30%; /* Ajustado o botão para uma largura menor */
    }
}
